<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>班级介绍</title>
    {load href="/static/plug/semantic/semantic.min.css"/}
    {load href="/static/plug/jquery.min.js"/}
    {load href="/static/plug/semantic/semantic.min.js"/}
    {load href="/static/plug/layer/layer.js"/}
</head>
<body style="background: #3369e7;">
<div class="ui container">

    <div style="padding: 2em 0; padding-bottom: 1em; text-align: left; color: white; ">
        班级介绍
    </div>

    <h2 class="ui header" style="color: white; display: block; text-align: center; margin-top: 1rem; margin-bottom: 2rem;">五年四班</h2>

    <div class="ui segments">
        <div class="ui segment" style="background:#fff url('/static/mob/img/clazz-bg.jpg') no-repeat; background-size:100% auto;">
            <div style="padding: 2rem 2em; display: flex; ">
                <div style="flex: 1; align-self:center;">
                    <div class="ui tiny statistic">
                        <div class="value">
                            50
                        </div>
                        <div class="label">
                            学生数
                        </div>
                    </div>
                </div>
                <div style="flex: 1; align-self:center; ">

                    <div class="ui tiny statistics" style=" justify-content:flex-end;">
                        <div class=" statistic">
                            <div class="value">
                                <img src="/static/default.png" class="ui circular inline image">
                            </div>
                            <div class="label">
                                负责老师:王老师
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment" style="padding: 2em;">
            <p style="text-align: center;"><img src="/static/mob/img/f-dt.png" height="37"></p>
            <table class="ui very basic table">
                <!--<thead>-->
                <!--<tr>-->
                <!--<th>Name</th>-->
                <!--<th>Status</th>-->
                <!--<th>Notes</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <tbody>
                <tr>
                    <td>1、（几月几日第几节课xxx老师给学生们上了一节xxx课程（点击查看课时详情）</td>
                    <td class="right aligned">2020-10-20</td>
                </tr>
                <tr>
                    <td>2、（几月几日第几节课xxx老师给学生们上了一节xxx课程（点击查看课时详情）</td>
                    <td class="right aligned">2020-10-20</td>
                </tr>
                <tr>
                    <td>3、（几月几日第几节课xxx老师给学生们上了一节xxx课程（点击查看课时详情）</td>
                    <td class="right aligned">2020-10-20</td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="ui segment" style="padding: 2em;background-color: #f6f6f6">
            <p style="text-align: center;"><img src="/static/mob/img/f-kc.png" height="37"></p>
            <div class="ui doubling three column grid">
                <div class="column">
                    <div class="ui segment" style="text-align: center;">
                        <h5>课程名称</h5>
                        <p style="color: gray">课程名称内容的描述在这里显示</p>
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment" style="text-align: center;">
                        <h5>课程名称</h5>
                        <p style="color: gray">课程名称内容的描述在这里显示</p>
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment" style="text-align: center;">
                        <h5>课程名称</h5>
                        <p style="color: gray">课程名称内容的描述在这里显示</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui segment" style="padding: 2em;">
            <p style="text-align: center;"><img src="/static/mob/img/f-cj.png" height="37"></p>
            <div class="ui middle aligned divided list">
                <div class="item">
                    <div class="right floated content">
                        99分
                    </div>
                    <img class="ui avatar image" src="/static/default.png">
                    <div class="content">
                        Lena
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        99分
                    </div>
                    <img class="ui avatar image" src="/static/default.png">
                    <div class="content">
                        Lindsay
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        99分
                    </div>
                    <img class="ui avatar image" src="/static/default.png">
                    <div class="content">
                        Mark
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        99分
                    </div>
                    <img class="ui avatar image" src="/static/default.png">
                    <div class="content">
                        Molly
                    </div>
                </div>
            </div>
        </div>


        <div class="ui segment" style="padding: 2em;background-color: #f6f6f6">
            <p style="text-align: center;"><img src="/static/mob/img/f-jf.png" height="37"></p>

            <div class="ui middle aligned divided list">
                <div class="item">
                    <div class="right floated content">
                        99
                    </div>
                    <img class="ui avatar image" src="/static/default.png">
                    <div class="content">
                        Lena
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        99
                    </div>
                    <img class="ui avatar image" src="/static/default.png">
                    <div class="content">
                        Lindsay
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        99
                    </div>
                    <img class="ui avatar image" src="/static/default.png">
                    <div class="content">
                        Mark
                    </div>
                </div>
                <div class="item">
                    <div class="right floated content">
                        99
                    </div>
                    <img class="ui avatar image" src="/static/default.png">
                    <div class="content">
                        Molly
                    </div>
                </div>
            </div>
        </div>

        <div class="ui segment" style="padding: 2em;">
            <p style="text-align: center;"><img src="/static/mob/img/f-sj.png" height="37"></p>
            <div class="ui doubling three column grid">
                <div class="column">
                    <div class="ui segment" style="text-align: center; padding: 0.5em;">
                        <img src='/static/mob/img/clazz-bg.jpg' width="100%">
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment" style="text-align: center; padding: 0.5em;">
                        <img src='/static/mob/img/clazz-bg.jpg' width="100%">
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment" style="text-align: center; padding: 0.5em;">
                        <img src='/static/mob/img/clazz-bg.jpg' width="100%">
                        <p style="color: gray">课程名称内容的描述在这里显示</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <p style="padding: 2em; text-align: center; color: white; font-size: 1.5rem;">
        <img src="/static/logo.jpg" class="ui circular inline image" width="40">

    </p>



</div>
</body>
</html>