{extend name="layout/base"/}
{block name="content"}
<style>
    .page-content img{
        max-width: 700px;
    }
</style>
<button class="ui teal tiny button" style="position: fixed; top: 20px; right: 20px;" id="print-btn">打 印</button>
<div class="page-content" id="print-box" style="max-width: 1000px; margin: 0 auto;">
    <h3 style="display: block;text-align: center">{$data.title}</h3>
    <h5 class="ui dividing header">一、所属分类</h5>
    <p>{$data.category.name}</p>
    <h5 class="ui dividing header">二、重点词汇</h5>
    <p>
        {volist name="data.knWordsImp" id="v" empty="无"}{$v.title}; {/volist}
    </p>
    <h5 class="ui dividing header">三、重点句型</h5>
    <p>
        {volist name="data.knSentenceImp" id="v" empty="无"}{$v.title}; {/volist}
    </p>
    <h5 class="ui dividing header">四、附加词汇</h5>
    <p>
        {volist name="data.knWordsAtt" id="v" empty="无"}{$v.title}; {/volist}
    </p>
    <h5 class="ui dividing header">五、附加句型</h5>
    <p>
        {volist name="data.knSentenceAtt" id="v" empty="无"}{$v.title}; {/volist}
    </p>
    <h5 class="ui dividing header">六、发音</h5>
    <p>
        {volist name="data.pronunciation" id="v" empty="无"}{$v.title}; {/volist}
    </p>
    <h5 class="ui dividing header">七、授课目标</h5>
    <p>{$data.target|brReplace}{empty name="data.target"}无{/empty}</p>
    <h5 class="ui dividing header">八、授课流程</h5>
    <p>{$data.layout|brReplace}{empty name="data.layout"}无{/empty}</p>
    <h5 class="ui dividing header">九、其他说明</h5>
    <p>{$data.remark|brReplace}{empty name="data.remark"}无{/empty}</p>
</div>
{/block}
{block name='script'}
{load href="__PLUG__/jquery.PrintArea.js"/}
<script>
    $(function(){
        $("#print-btn").click(function () {
            $("#print-box").printArea();
        });
    })
</script>
{/block}