{notempty name="data.searcher"}
<form class="ui mini form segment" action="#" method="get" style="padding-bottom: 0;">
    <div class="ui fields">
        {volist name="data.searcher" id="sch"}
        <div class="field">
        {switch sch.type}
        {case select }
            <select name="{$sch.name}" class="ui dropdown dropdowner">
                <option value="">{$sch.placeholder?:'请选择'}</option>
                {volist name='sch.options' id='op'}
                <option value="{$key}" {if isset($Request.param[$sch.name]) && $key==$Request.param[$sch.name]}selected{/if}>{$op}</option>
                {/volist}
            </select>
        {/case}
        {case value="date"}
        <input type="text" id="{$sch.name}" name="{$sch.name}" placeholder="{$sch.placeholder??''}" autocomplete="off"
               value="{if isset($Request.param[$sch.name])}{$Request.param[$sch.name]}{/if}" class="datepicker" />
        {/case}
        {case value="datetime"}
        <input type="text" id="{$sch.name}" name="{$sch.name}" placeholder="{$sch.placeholder??''}" autocomplete="off"
               value="{if isset($Request.param[$sch.name])}{$Request.param[$sch.name]}{/if}" class="datetimepicker" />
        {/case}
        {case value="time"}
        <input type="text" id="{$sch.name}" name="{$sch.name}" placeholder="{$sch.placeholder??''}" autocomplete="off"
               value="{if isset($Request.param[$sch.name])}{$Request.param[$sch.name]}{/if}" class="clear timerpicker" />
        {/case}
        {default /}
            <input type="text" name="{$sch.name}" placeholder="{$sch.placeholder??''}" value="{if isset($Request.param[$sch.name])}{$Request.param[$sch.name]}{/if}"/>
        {/switch}
        </div>
        {/volist}
        <button type="submit" class="tiny ui teal basic submit icon button "><i class="search icon"></i></button>
    </div>
</form>
{/notempty}