body{
  background: #f0f0f0;
}
a {
  text-decoration: none;
  color: black;
}

.article {
  display: block;
  margin: 0 0 12px 0;
  padding: 5px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  transition: all 220ms;
}
.article:hover {
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: all 220ms;
}
.article:hover p {
  display: block;
}
.article img {
  display: block;
  width: 100%;
}
.article p {
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 0 12px 0;
  color: #999;
  display: none;
}

.wall {
  display: block;
  position: relative;
}
.wall-column {
  display: block;
  position: relative;
  /*width: 33.333333%;*/
  width: 20%;
  float: left;
  padding: 0 6px;
  box-sizing: border-box;
}
@media (max-width: 640px) {
  .wall-column {
    width: 32%;
  }
}
@media (max-width: 480px) {
  .wall-column {
    width: 50%;
  }
}