{extend name="layout/base"/}
{block name="content"}
<div style="text-align: center;">



{if $data.video_url}
<!-- 设置播放器容器 -->
<!--<video id="player-container-id" preload="auto" width="640" height="360" playsinline webkit-playsinline>-->
<!--</video>-->
<video style='max-width: 900px' src='{$data.video_url}' controls='controls'>该浏览器不支持video标签</video>

<!--<link href="https://cloudcache.tencent-cloud.com/open/qcloud/video/tcplayer/tcplayer.css" rel="stylesheet">-->
<!--<script src="https://cloudcache.tencent-cloud.com/open/qcloud/video/tcplayer/libs/hls.min.0.13.2m.js"></script>-->
<!--<script src="https://cloudcache.tencent-cloud.com/open/qcloud/video/tcplayer/tcplayer.v4.1.min.js"></script>-->
<script>
    // var player = TCPlayer('player-container-id', { // player-container-id 为播放器容器ID，必须与html中一致
    //     fileID: '5285890799710670616', // 请传入需要播放的视频filID 必须
    //     appID: '1400329073', // 请传入点播账号的appID 必须
    //     //其他参数请在开发文档中查看
    //     plugins: {
    //         ContinuePlay: {
    //             // auto: true // 是否在播放时自动续播
    //         },
    //         ProgressMarker: true,
    //         ContextMenu: {
    //             statistic: true,
    //             levelSwitch: {
    //                 open: true, // 打开切换提示
    //                 // switchingText: '开始', // 开始切换时文案
    //                 // switchedText: '成功', // 切换成功时文案
    //                 // switchErrorText: '失败', // 切换失败时文案
    //             }
    //         }
    //     }
    // });
</script>
{else/}
{volist name="data.images" id="img"}
<img style='max-width: 900px' src='{$img}'/>"
{/volist}
{/if}
    <div style="max-width: 900px; margin: 30px auto; ">
        {$data.content}
    </div>
    <div style="max-width: 900px; margin: 30px auto; ">
        {if $previous_id >0}
        <a class="ui tiny labeled icon button" href="{:url('previewMoment', ['id'=> $previous_id])}">
            <i class="left arrow icon"></i>
            上一个
        </a>
        {/if}
        {if $next_id > 0}
        <a class="ui tiny right labeled icon button" href="{:url('previewMoment', ['id'=> $next_id])}">
            <i class="right arrow icon"></i>
            下一个
        </a>
        {/if}
    </div>
</div>
{/block}