<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>英语特色课堂</title>
    <link href="/static/bkd/login/login.min.css" rel="stylesheet">
</head>
<body scroll="no" style="background: url(/static/bkd/login/bg.jpg) center top / cover no-repeat;">
<div class="container">
    <logo> <img src="/static/bkd/login/logo.png"> </logo>
    <div class="login">
        <div class="adBox">
            <div class="ad" style="left: 21.7148px; top: 52.1516px;"></div>
        </div>
        <form class="form" method="post" action="{:url('backend/login/login')}">
<!--            <div class="title">-->
<!--                <div class="tabs active">账号登录</div>-->
<!--                <div class="tabs">企业微信登录</div>-->
<!--            </div>-->

            <div class="content hide" style="display: block;">
                <div class="formRow"><input type="text" class="text user" name="account" id="u_name" placeholder="请输入账号"></div>
                <div class="formRow"><input type="password" class="text pwd" name="password" id="u_pass" placeholder="请输入密码"></div>
                <div class="formRow">
                    <div class="tip"><span class="ico">?</span><span class="text">温馨提示：</span></div>
<!--                    <div class="remember"><input type="checkbox"> 记住密码</div>-->
                    <div class="remember" style="width: 150px;">内部系统访客请勿登录</div>
                </div>
                <div class="formRow"><input type="submit" value="登 录" class="btn" style="cursor: pointer;"></div>
            </div>

            <div class="content" style="display: none;">
                <div class="code">
<!--                    <img src="/static/bkd/login/code.jpg">-->
                </div>
                <div class="codeText">
                    请使用企业微信扫描二维码<br>登录“OA移动办公”
                </div>
            </div>
        </form>
        <div class="info"></div>
    </div>
</div>
{load href="__PLUG__/jquery.min.js"/}
</body>

</html>


<!--<!doctype html>-->
<!--<html>-->
<!--<body>-->

<!--<div class="ui tiny modal" id="login-box">-->
<!--    <div class="header">学校管理系统</div>-->
<!--    <div class="content">-->
<!--        <form id="form1" class="ui form" method="post" action="{:url('backend/login/login')}">-->
<!--            <h1 class="ui header center aligned">-->
<!--                &lt;!&ndash;<img src="img/logo.png" alt="LOGO" class="ui small image">&ndash;&gt;-->
<!--                <div class="content">欢迎登录</div>-->
<!--            </h1>-->
<!--            <div class="field">-->
<!--                <label> 登录账号: </label>-->
<!--                <div class="ui fluid icon input">-->
<!--                    <input name="account" id="u_name" type="text" autocomplete="on" style="width:100%!important;min-width:100%;width:100%;">-->
<!--                    <i class="icon mail outline"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <label> 登录密码: </label>-->
<!--                <div class="ui fluid icon input">-->
<!--                    <input name="password" id="u_pass" type="password" autocomplete="off" style="width:100%!important;min-width:100%;width:100%;">-->
<!--                    <i class="icon key"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;<div class="field">&ndash;&gt;-->
<!--            &lt;!&ndash;<label> 验证码: </label>&ndash;&gt;-->
<!--            &lt;!&ndash;<div class="ui fluid icon input">&ndash;&gt;-->
<!--            &lt;!&ndash;<div class="ui action input">&ndash;&gt;-->
<!--            &lt;!&ndash;<input name="cpcode" type="text" placeholder="" style="width: 50%">&ndash;&gt;-->
<!--            &lt;!&ndash;<div class="ui right button" style="padding:0; overflow: hidden; border:1px solid #dcdcdc;">&ndash;&gt;-->
<!--            &lt;!&ndash;<img src="{:captcha_src()}" alt="captcha" id="captcha"/>&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--            <div class="field">-->
<!--                <button class="ui teal right labeled animated fade icon button fluid" type="submit">-->
<!--                    <div class="visible content">登 录</div>-->
<!--                    <div class="hidden content">欢迎使用</div>-->
<!--                    <i class="icon sign in"></i>-->
<!--                </button>-->
<!--                &lt;!&ndash;<a class="ui blue right labeled icon button fluid" href="index.html">&ndash;&gt;-->
<!--                &lt;!&ndash;Sign Up&ndash;&gt;-->
<!--                &lt;!&ndash;<i class="icon spy"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;</a>&ndash;&gt;-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    &lt;!&ndash;<div class="actions">&ndash;&gt;-->
<!--        &lt;!&ndash;<a class="ui tiny button" href="/" target="_blank">访问首页</a>&ndash;&gt;-->
<!--    &lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->


<script>
    // var colors = ["#F25F5C", "#247BA0", "#8e44ad", "#ED6A5A", "#32936F", "#2c3e50", "#E83F6F", "#32936F", "#2E294E"];
    // var rand = Math.floor(Math.random() * colors.length);
    // $('body').css("background-color", colors[rand]);
</script>

<script language="javascript">

    // $('#captcha').click(function(){
    //     $(this).attr("src", "{:captcha_src()}?"+Math.random());
    // });
    // $(function(){
    //     // $('#captcha').trigger('click');
    //     $('#login-box')
    //         .modal('setting', 'transition', 'scale')
    //         .modal('setting', 'closable', false).modal('show');
    // });
</script>
{include file="layout/footer" /}
</body>
</html>