{include file="public/header"/}
<div id="header-blank" class="show992">
</div>
<div id="body" class="trans">
    <div id="banner" class="relative hide992">
        <div class="bd over">
            <div class="bar relative fz0 nowrap">
                {notempty name="data.banner"}
                <div class="item relative inline-block text-center fz0 over item-0">
                    <img src="{$data.banner}" alt="" class="max-w100">
                </div>
                {/notempty}
            </div>
        </div>
    </div>
    <div id="small-banner" class="relative show992">
        <div class="bd over">
            <div class="bar relative fz0 nowrap">
            </div>
        </div>
    </div>
    <div class="blank25">
    </div>
    <div class="blank25">
    </div>
    <div id="info-detail" class="wrap1200 wow fadeInUp">
        <div class="editor wow fadeInUp">
            {$data.content|raw|htmlspecialchars_decode}
        </div>
    </div>
    <div class="blank25">
    </div>
    <div class="blank25">
    </div>
    {include file="public/bottom"/}
</div>
{include file="public/footer"/}