{extend name="layout/base"/}
{block name="content"}
<div style="padding-top: 30px;">

    <form class="ui small form" action="{:url('createSection',['course_id'=>$course_id])}" method="post">
        <div class="inline field">
            <label for="title" class="form-label"><span style="color:red;">*</span>课时名称</label>
            <input type="text" id="title" name="title" placeholder="" autocomplete="off" value="{$data.title??''}" class="form-input">
        </div>
        <div class="inline fields">
            <label class="form-label">网课形式</label>
            {empty name="data"}
            {volist name=":config('status.section_type')" id="type"}
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="type" class="hidden" value="{$key}"{if $key == $data.type}checked{/if}>
                    <label>{$type}</label>
                </div>
            </div>
            {/volist}
            {else/}
            <div class="field" style="margin-top: 8px;">
                {:getStatusText($data.type,'section_type')}
            </div>
            {/empty}
        </div>
        <div class="inline field">
            <label for="title" class="form-label">课时介绍</label>
            <textarea name="desc" rows="3" class="form-input">{$data.desc??''}</textarea>
        </div>


        <div style="text-align: center; margin: 30px;">
            <input name="id" type="hidden" value="{$Request.param.id}"/>
            <button type="submit" class="ui teal small button" style="width: 150px;">保存并下一步</button>
        </div>
    </form>
    <div class="ui ignored info message">
        您可以使用本系统编辑基本的网课设置项目，更多设置可到 “获得场景”（CC视频）官方系统中进行详细设置：
        <a target="_blank" href="https://admin.bokecc.com/video/list.bo">点播管理</a> 、
        <a target="_blank" href="https://admin.bokecc.com/liveroom/list.bo">直播管理</a> 、
        <a target="_blank" href="https://admin.bokecc.com/liveclass/list.bo">小课堂管理</a>
    </div>
</div>
{/block}