<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" charset="utf-8" src="https://op.jiain.net/20004426/10114283.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{:db_config('org_name')} {$page_title ?? ''}</title>
    <meta name="keywords" content="{empty name='page_seo_keyword'}{:db_config('seo_keyword')}{else/}{:db_config('org_name')} {$page_seo_keyword}{/empty}" />
    <meta name="description" content="{empty name='page_seo_description'}{:db_config('seo_description')}{else/}{:db_config('org_name')} {$page_seo_description}{/empty}" />
    <meta name="author" content="{:db_config('org_email')}"/>
    <meta name="copyright" content="2020" />

    {load href="__HOME__/css/bootstrap.min.css" /}
    {load href="__PLUG__/animate.min.css" /}
    {load href="__HOME__/css/global.css" /}
    {load href="__HOME__/css/lib.css" /}
    {load href="__HOME__/css/style.css" /}
    {load href="__PLUG__/jquery.min.js"/}
    {load href="__HOME__/js/global.js"/}
    {load href="__HOME__/js/cn.js"/}
    {load href="__HOME__/js/checkform.js"/}
    {load href="__PLUG__/wow.js"/}
    {load href="__HOME__/js/imagesloaded.min.js"/}
    {load href="__HOME__/js/countup.js"}
    {load href="__HOME__/js/bootstrap.min.js"/}
    <script>
        jQuery(window).scrollTop(0);
        jQuery('html,body').scrollTop(0);
        new WOW().init({
            mobile: false
        });

        $(function() {
            setTimeout(function() {
                    $('#body').show();
                },
                500);
        })
    </script>
    <style>
        ul.nav-item-ul {
            width: 100%; display: none
        }
        ul.nav-item-ul li a {
            background: #fff; display: block; cursor: pointer; border: 2px solid #dcdcdc; margin: 3px 0; border-radius: 10px; height: 40px; line-height: 37px;  font-size: 120%;
        }
        ul.nav-item-ul li a:hover {
            background: #ff6600; color: #fff;border: 2px solid #ff6600;
        }
        .dropdown-menu {
            z-index: 2000;
            transform: translateZ(100px);
        }
    </style>

</head>
<body>
<header class="trans border-box  ">
    <div class="wrap clean relative">
        <div id="logo" class="fl relative trans">
            <a href="/"​ class="relative trans">
                <img src="{:db_config('site_logo')}" alt="" class="max-w100 max-h100 trans">
            </a>
        </div>
        <nav class="absolute fz0 trans border-box stopP ">
            <div class="bd over clean">
                <div class="title clean show992">
                    <a href="#"​ class="btn-close trans middle fr" onClick="ActionMenu('Close');">
                    </a>
                </div>
                <div class="nav-item fl text-center trans">
                    <a href="/"​ class='on trans'>
                        首页
                    </a>
                </div>
                {volist name=":get_nav_list('home')" id="v"}
                <div class="nav-item fl text-center trans relative">
                    <a class="nav-item-a" {empty name="v._child"}href="{$v.url}"{/empty} {eq name="v.is_blank" value='1'}target="_blank"{/eq}​>
                        {$v.name}
                    </a>
                    <ul class="nav-item-ul" >
                        {volist name="v._child" id="c"}
                        <li class="animated flipInY" ><a style="box-shadow: 1px 1px 5px #999;" href="{$c.url}" {eq name="c.is_blank" value='1'}target="_blank"{/eq}>{$c.name}</a></li>
                        {/volist}
                    </ul>
                </div>
                {/volist}
            </div>
        </nav>
        <div class="header-user fr">
            <a href="/student/pccli.html"​ target="_blank" class="login inline-block text-center border-box trans hide992" rel="nofollow" style="width: 120px;">
                <i></i>学员中心
            </a>
            <!--<a href="#"​ class="try inline-block text-center border-box trans hide992" rel="nofollow">注册账号</a>-->
        </div>
        <div class="menu-button fr stopP show992 trans">
            <a href="#" class="fa fa-align-justify trans" rel="nofollow" onclick="ActionMenu();">
                <img src="__IMG__/opt.png" width="50%">
            </a>
        </div>
    </div>
</header>
<script>
    var flag1, flag2, flag3;
    $(function(){

        $('.nav-item-a').on({
            mouseover : function(){
                var obj = $(this);
                flag1 = setTimeout(function() {
                    hideAllSubmenu();
                    obj.next().show();
                }, 100);
            },
            mouseout : function(){
                // flag2 = setTimeout(function() {
                //     hideAllSubmenu();
                // }, 200);
            }
        }) ;

        $('.nav-item-ul a').on({
            mouseover: function(){
                clearTimeout(flag2);
                clearTimeout(flag3);
            },
            mouseout : function(){
                flag3 = setTimeout(function() {
                    hideAllSubmenu();
                }, 200);
            }
        });
    });
    function hideAllSubmenu()
    {
        $('.nav-item-a').each(function(){
            $(this).next().hide();
        });
    }
</script>