/*body .layer-ext-jack .layui-layer {*/
	/*border: 1px solid #ddd;*/
	/*box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);*/
	/*border-radius: 4px;*/
	/*background-color: #fff;*/
/*}*/

/*body .layer-ext-jack .layui-layer-title {*/
	/*border-bottom: 1px solid #ddd;*/
	/*font-size: 16px;*/
/*}*/
/*body .layer-ext-jack .layui-layer-btn .layui-layer-btn0 {*/
	/*border-color: #2c7;*/
	/*background-color: #2c7;*/
	/*color: #fff;*/
/*}*/
body .layer-ext-jack .layui-layer-dialog {
	border: 1px solid #ddd;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	background-color: #ff6600;
}
body .layer-ext-jack .layui-layer-dialog .layui-layer-content {
	overflow: hidden;
	background-color: #ff6600;
}

/*body .layer-ext-jack .layui-layer-rim {*/
    /*border: 1px solid #ddd;*/
	/*box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);*/
	/*border-radius: 4px;*/
	/*background-color: #fff;*/
/*}*/
/*body .layer-ext-jack .layui-layer-msg {*/
	/*border: 1px solid #ddd;*/
	/*box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);*/
	/*border-radius: 4px;*/
	/*background-color: #fff;*/
/*}*/
/*body .layer-ext-jack .layui-layer-hui {*/
	/*box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);*/
	/*border-radius: 4px;*/
/*}*/
/*body .layer-ext-jack .layui-layer-iframe iframe {*/
	/*border: 1px solid #ddd;*/
	/*box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);*/
	/*border-radius: 4px;*/
	/*background-color: #fff;*/
/*}*/
/*body .layer-ext-jack .layui-layer-tips {*/
	/*box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);*/
	/*border-radius: 4px;*/
	/*background-color: #fff;*/
/*}*/

