<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<h1>绑定学员</h1>
<form action="#" method="get">
    <p>学员手机号: <input type="text" name="mobile"/></p>
    <p>学员姓名: <input type="text" name="fname"/></p>
    <p>学员密码: <input type="text" name="fname"/></p>
    <p>身份: <select>
        <option value="self">学生本人</option>
        <option value="mother">母亲</option>
        <option value="father">父亲</option>
        <option value="grandmother_f">奶奶</option>
        <option value="grandfather_f">爷爷</option>
        <option value="grandmother_m">奶奶</option>
        <option value="grandfather_m">奶奶</option>
    </select></p>
    <input type="submit" value="立即绑定"/>
</form>
</body>
</html>
