<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzb.erp.common.mapper.ClassroomMapper">
    <select id="getList" resultType="com.hzb.erp.common.pojo.vo.ClassroomVO">
        select t1.*
        from classroom t1
        where t1.deleted != 1
    </select>
</mapper>
