<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzb.erp.common.mapper.UserMapper">

    <sql id="Base_Column_List">
        id,name,wx_access_id,
        mobile,state,password,
        login_times,latest_login_time,latest_login_ip,
        add_time
    </sql>
    <select id="getList" resultType="com.hzb.erp.common.pojo.UserVO">
        SELECT t1.*, count(t2.id) student_count,
        t3.nickname wx_nickname,
        group_concat(t2.name) student_names
        FROM user t1
        LEFT JOIN student t2 on t2.user_id = t1.id and t2.deleted = 0
        LEFT JOIN wx_access t3 on t3.id = t1.wx_access_id
        <where>
            <if test="param.keyword != null and param.keyword.trim != ''">
                AND (
                t1.name like concat('%', #{param.keyword}, '%')
                or t1.mobile = #{param.keyword}
                or t1.id = (select user_id from student where name = #{param.keyword})
                )
            </if>
            <if test="param.nickname != null and param.nickname.trim != ''">
                t3.nickname like concat(#{param.nickname}, '%')
            </if>
        </where>
        group by t1.id
        order by t1.id desc
    </select>
    <select id="getWxOpenid" resultType="java.lang.String">
        select t1.openid from wx_access t1 where t1.id = (select wx_access_id from user where id = #{id})
    </select>

    <select id="getByOpenid" resultType="com.hzb.erp.common.entity.User">
        select t1.* from `user` t1
        where t1.wx_access_id = (select id from wx_access where openid = #{openid})
          and t1.wx_access_id is not null
        limit 1
    </select>

</mapper>
