<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzb.erp.common.mapper.OrgMapper">

    <sql id="Base_Column">
         select t1.*, t3.name province_name, t4.name city_name, t5.name district_name,
            (CASE WHEN (select count(0) from org WHERE pid = t1.id and deleted = 0)> 0 THEN 1 ELSE 0 END) hasChildren
        from org t1
        left join org t2 on t2.id = t1.pid and t2.deleted = 0
        left join region t3 on t3.id = t1.province
        left join region t4 on t4.id = t1.city
        left join region t5 on t5.id = t1.district
    </sql>

    <select id="getList" resultType="com.hzb.erp.common.pojo.vo.OrgVO">
        <include refid="Base_Column"/>
        <where>
            <if test="param.pid != null">
                AND t1.pid = #{param.pid}
            </if>
            <if test="param.level != null">
                AND t1.level = #{param.level}
            </if>
            <if test="param.type != null">
                AND t1.type = #{param.type}
            </if>
            <if test="param.name != null">
                AND t1.name like concat('%', #{param.name}, '%')
            </if>
            and t1.deleted = 0
        </where>
        group by t1.id
        order by t1.sort_num desc
    </select>

    <select id="getInfo" resultType="com.hzb.erp.common.pojo.vo.OrgVO">
        <include refid="Base_Column"/>
        where t1.id = #{id}
        group by t1.id
    </select>

</mapper>
