body{color: #666;}
.bord_3{border-radius: 3px;}

.zy_content{ min-height: 6.8rem; }

/*消息提醒*/
.zy_msg ul{ padding-bottom: 5%; }
.zy_msg ul li{border-bottom: #ddd solid 1px; height: .8rem; line-height: .8rem; padding:0 2%;}
.zy_msg ul li a{display: block; overflow: hidden;}
.zy_msg ul li h3{ float: left; width: 66%; font-size: .26rem; color: #333;
	white-space: nowrap;text-overflow: ellipsis;overflow: hidden; position: relative;
}

.zy_msg ul li h3 i{position: absolute; left: 0;top:14%; width: 4px; height: 4px; border-radius: 100%; background-color: #f00;}
.zy_msg ul li span{ float: right; font-size: .22rem; color: #999; }

.zy_msg .msg_xq .txt{ font-size: .26rem; line-height: 180%;}
.zy_msg .msg_xq .txt>div{ margin:4% 0; }
.zy_msg .msg_xq .txt p{ width: calc(100% - .8rem);  }
.zy_msg .msg_xq .btn{ margin-top: 8%; }
.zy_msg .msg_xq .btn a{margin: 10px auto;display: block; width: 48%; text-align: center; background-color: #ddd;
	color: #fff; font-size: .26rem; height: .72rem; line-height: .72rem; border-radius: 3px;
}
/*.zy_msg .msg_xq .btn a:last-child{ float: right; background-color: #3d3c41; color: #f2b300; }*/

/*找工作*/
.zy_black_bg{ position: fixed; top:0;left: 0; width: 100%; height: 100%; background: #000;opacity: .5; display: none;}
.zy_category_box{ position: relative; z-index: 1000;}
.zy_category{ border-bottom:#ddd solid 1px; position: relative; z-index: 5;}
.zy_category>div{text-align: center;height: .8rem; line-height: .8rem; font-size: .24rem; }
.zy_category>div span{ background:url(../images/common_img/xsj_down_1.png) no-repeat center right; 
	background-size: .1rem; padding-right: .16rem; color: #333;
}
.zy_category>div.cur span{ color:#f2b300; }

.zy_category_list{ background-color: #fff; width: 100%; position: absolute; top: calc(.8rem + 1px); left: 0;z-index: 5; }
.zy_category_list .box{display: none;}
.zy_category_list .box a{display: block;}
.zy_category_list ul li{ border-bottom: #ddd solid 1px; line-height: .72rem; font-size: .24rem; padding: 0 1em;
	white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #333;
}
.zy_category_list ul li:last-child{ border:0; }
.zy_category_list .workbox{ width: 200%; }
.zy_category_list .workbox ul{ float: left; width: 50%;}
.zy_category_list .workbox ul:first-child{ max-height: 7.3rem;overflow: auto; }
.zy_category_list .workbox ul li{background:url(../images/common_img/right_jt.png) no-repeat center right 3%; background-size: .12rem;}
.zy_category_list .workbox ul li:first-child{ background:none; }
.zy_category_list .workbox ul:last-child{ width: 25%; overflow: auto; border-left: #ddd solid 1px; background-color: #fafafa;}
.zy_category_list .workbox ul:last-child li{border:0; background:none; display: none; padding:0;}
.zy_category_list .workbox ul li span{ display: block; border-bottom: #ddd solid 1px; padding:0 1em; 
	white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
}

.zy_find_work .tuij_gz li{ background-color: #fff; margin-bottom: 6px; padding-bottom: 0; position: relative; overflow: hidden; }
.zy_find_work .tuij_gz .job_fuli{ overflow: visible; }
.zy_find_work .tuij_gz .apply{ color:#fff; background-color: #f2b300; font-size: .24rem; min-width: 1rem;
	right: 2%; bottom:.88rem; padding:.3em .5em; border-radius: 3px; line-height: .34rem; text-align: center;
}
.zy_find_work .tuij_gz .job_who{ font-size: .22rem; line-height: .64rem; height: .64rem; border-top: #f2b300 dashed 1px; margin-top: 3%;}
.zy_find_work .tuij_gz .job_who p{height: .64rem; font-size: .24rem;}


/*翻页*/
.zy_fanye{ text-align: center; padding:2% 0;border-top: #ddd solid 1px; background-color: #fff;}
.zy_fanye a{ color: #5589ff; font-size: .26rem; padding:2% 0; width:36%;}
.zy_fanye span{ color: #666; font-size: .26rem; 
	padding: 2% 0; width: 30%; margin:0 1%;position: relative;
	border-left: #ddd solid 1px;border-right: #ddd solid 1px;
}
.zy_fanye span b{background: url(../images/common_img/xsj_down_1.png) no-repeat center right; 
	background-size: .12rem; padding-right: .2rem;
}
.zy_fanye span *{ font-style: normal; font-weight: normal;}
.zy_fanye span select{position: absolute; width: 100%; height: 100%; top: 0; left: 0;opacity: 0;}

/*简历弹窗*/
.resume_box{ position: fixed;top:0; left: 0; width: 100%; height: 100%; 
	background-color: rgba(0,0,0,.7); z-index: 1111; display: none;
}
.resume_box .resume{ background-color: #fff; width:96%;border-radius: 5px; 
	overflow: hidden; position: absolute;  margin:auto; top:0; left: 0; right: 0; bottom: 0;
	height: fit-content; height: -webkit-fit-content; height: -moz-fit-content;
}
.resume_box .resume h2{ text-align: center; font-size: .28rem; color:#666; 
	line-height: .72rem; border-bottom: #ddd solid 1px;
}
.resume_box .resume .close{position: absolute; right: 0; top:0;  font-size: .4rem;
	height: .72rem;width: .72rem; line-height: .72rem; text-align: center; color:#666;
}
.resume_box .resume>div{ width: 80%;margin:3% auto; }
.resume_box .resume>div label{ display: block; height: .6rem; line-height: .6rem; color:#333; font-size: .26rem; }
.resume_box .resume>div label input{display: inline-block; vertical-align: middle; margin-right: 1%; }
.resume_box .resume>div label span{display: inline-block; vertical-align: middle; }
.zy_butn{ background-color: #f2b300; width: 100%; color:#fff; font-size: .26rem; line-height: .8rem; text-align: center;}

/*找工作详情*/
.zy_find_work_xq h3{ color:#f2b300; font-size: .24rem; line-height: 150%;padding:3% 2%; }
.work_tit{ border-bottom: #ddd solid 1px; padding-bottom: 2%;}
.work_tit h2{ font-size: .3rem; color:#333; line-height: 140%; }
.work_tit p{ line-height: .6rem; }
.work_tit p a{ font-size: .26rem; }
.work_tit p span{ font-size:.22rem; margin-left: .5em; }
.work_info>div{ overflow: hidden; font-size: .24rem; line-height: .5rem;}
.work_info>div span{float: left; color:#999; width: .72rem; overflow: hidden;}
.work_info>div p{float: right; width: calc(100% - .72rem); color:#333;}
.work_info>div p em{font-style: normal; border-right: #ddd solid 1px; padding:0 3%;}
.work_info>div p em:first-child{ padding-left: 0; }
.work_info>div p em:last-child{padding-right: 0; border-right: 0; }
.work_info div.apply{line-height: .8rem; font-size: .3rem; margin:3% 0 2%;}
.work_zhize h4{color:#999; font-size: .24rem; line-height: .5rem;}
.work_zhize .txt{ color:#333; font-size: .24rem;line-height: .5rem; }
.work_contact>div{ border-bottom:#ddd solid 1px; padding:0 2%; height: .72rem;line-height: .72rem; font-size: .24rem; }
.work_contact>div span{display: inline-block; color:#999;}
.work_contact>div p{ display: inline-block; color:#333; }
.work_contact>div p a{color:#333;}
.work_contact>div img{display: inline-block; vertical-align: middle;width: .32rem; margin-left: .5em;}
.work_contact .more{border:0;}
.work_contact .more a{display: block;color:#f2b300; font-size: .26rem;
	background: url(../images/common_img/right_jt01.png) no-repeat center right;background-size: .16rem;
}
.work_zhize h2{ font-size: .28rem; font-size: #333; margin:3% 0;}
.xq_foot{position: fixed; bottom: 0; left: 0; width: 100%; height: .9rem; background: #fff;box-shadow: 0 0 7px #bbb}
.xq_foot a{ width: 30%; text-align: center; font-size: .22rem; color:#333;border-left: #ddd solid 1px; height: .9rem;}
.xq_foot a img{ display: block; width: .36rem; height: .36rem; margin:6% auto 5%; }
.xq_foot a:first-child{border:0;}
.xq_foot .apply{color:#fff; background-color: #f2b300; width:40%; 
	height: .9rem; text-align: center;line-height: .9rem; font-size: .3rem;
}

/*合伙创业*/
.zy_find_work .tuij_hhcy .apply{ padding-left:.4rem;
	background: url(../images/common_img/zy_icon_tel_w.png) no-repeat center left .1rem;
	background-size: .26rem;
	background-color: #f2b300;
}
/*合伙创业详情*/
.my_head{border-bottom: #ddd solid 1px;padding: 2% 0 4%;}
.my_head .pic{width: 1.2rem; height: 1.2rem; border-radius: 100%; overflow: hidden;}
.my_head .pic img{width: 100%; height: 100%;}
.my_head dl{ width: calc(100% - 2% - 1.2rem); }
.my_head dl dt{ color: #333; font-size: .3rem; line-height: .3rem; margin:4% 0 6%; 
	white-space: nowrap; overflow: hidden;
}
.my_head dl dt em,.my_head dl dt a{display: inline-block; vertical-align: middle; 
	font-size: .22rem; line-height: .3rem; color: #f2b300; font-style: normal; margin-left: 4%;
}
.my_head dl dt em{border:#f2b300 solid 1px; border-radius: 3px; padding:0 .2em;}
.my_head dl dd span{ color: #999; }
.my_head dl dd em{ font-style: normal; margin-left: .3em; font-size: .22rem; }
.my_head dl dd em:first-child{margin-left: 0;}
.other_info{ padding:2% 0 0; }
.other_info>div span{float: left; color:#999; width: 1.25rem; overflow: hidden;}
.other_info>div p{float: right; width: calc(100% - 1.25rem); color:#333;}

.xq_foot01{box-shadow: none;}
.xq_foot01 a{width: 50%; text-align: center; border:0; background: #f2b300; color: #fff; }
.xq_foot01 a:first-child{ background-color: #3d3c41;}
.xq_foot01 a img{display: inline-block;vertical-align: middle;margin:.27rem 0; margin-right: 5%;}
.xq_foot01 a span{ display: inline-block; vertical-align: middle; font-size: .3rem;line-height: .9rem;}

/*培训列表*/
.tuij_list_px ul li{margin-bottom: 6px; background-color: #fff;}

/*培训列表详情*/
.other_head{border-bottom: #f2b300 dashed 1px; padding:2% 0 3%;}
.other_head h2{ width: 72%; font-size: .3rem; color: #333; line-height: 150%; }
.other_head span{ width: 25%; font-size: .22rem; color: #999; text-align: right; }

/*我的培训视频学习*/
.zy_video_list .other_head{ padding:3% 2%; border-bottom: #ddd solid 1px; }
/*视频播放详情*/
.zy_video_play .tit{ padding:3% 2%; text-align: center; }
.zy_video_play .tit h2{ line-height: 180%; margin-bottom: 2%; font-size: .3rem;}
.zy_video_play .tit span{ color: #f2b300; font-size: .26rem; }
.zy_video_play video{ width: 100%; background-color: #000; margin-top: 2%; }

/*****企业人才定制*****/
.zy_rc_order{ padding:3% 2%; }
.zy_rc_order .txt{ font-size: .24rem; color: #666; line-height: 170%;}
.write_order{ padding-bottom: 5%; }
.write_order .line{ margin: 3% 0; }
.write_order .line input,.write_order .line textarea{width: 96%; height: .72rem; line-height: .72rem; border-radius: 3px; border:#ddd solid 1px;
	font-size: .26rem; padding:0 2%; background-color: #fafafa;
}
.write_order .line textarea{ height: 2.2rem; line-height:160%; padding:2%; }
.write_order .line input:focus,.write_order .line textarea:focus{border-color: #f2b300;}

/*我的定制*/
.zy_myorder ul li{ margin-top: 6px; background-color: #fff; padding:2%; position: relative;}
.zy_myorder ul li h2{ color: #333; font-size: .3rem; line-height: 160%; margin: 1% 0; text-align: left;}
.zy_myorder ul li a{padding-bottom: .5rem;     
	-webkit-justify-content: space-between;
    justify-content: space-between;
}
.zy_myorder ul li a>span{ font-size: .22rem;}
.zy_myorder ul li h3{position: absolute; bottom: .07rem;}
.zy_myorder ul li h3 span{ display: inline-block; font-size: .22rem; color: #f2b300; border:#f2b300 solid 1px; 
	border-radius: 3px; line-height: 150%; padding:0 .3em; margin-right: .05rem; min-width: .88rem; text-align: center;
}
.zy_myorder ul li h3 span:last-child{ background-color: #f2b300; color: #fff; }

/*定制详情*/
.zy_myorder_xq .line{ border-bottom:#ddd solid 1px; padding:2%;overflow: hidden; font-size: .26rem; }
.zy_myorder_xq .line span{float: left; width: 1.3rem; line-height: .52rem; color: #999;}
.zy_myorder_xq .line input,.zy_myorder_xq .line textarea{ font-size: .26rem; line-height: .52rem;
	border:#fff solid 1px; width:calc(100% - 1.3rem); float: right; color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.zy_myorder_xq .line textarea{ line-height: .48rem; }
.zy_myorder_xq .line input:focus,.zy_myorder_xq .line textarea:focus{border:#f2b300 solid 1px;}
.zy_myorder_xq .state input{ color: #f2b300; }
.zy_myorder_xq .state input:focus,.zy_myorder_xq .company input:focus{ border-color: #fff; }

.zy_myorder_xq .btn{ padding:5% 2% 7%; }
.zy_myorder_xq .btn button{ display: block; margin-top: 3%;}
.zy_myorder_xq .btn button:first-child{ color: #f2b300; border:#f2b300 solid 1px; background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/*人才详情邀请面试*/
.interview_box .resume h2{ border:0; }
.interview_box .resume div { width: 96%;margin:0 auto 3%;}
.interview_box .resume div textarea{display: block; width: 94%; border:#ddd solid 1px; height: 2rem;
	border-radius: 3px; padding:2% 3%; font-size: .24rem; color: #333; line-height: 160%; background-color: #fafafa;
}
.interview_box .resume>div textarea:focus{border-color: #f2b300;}

/*项目列表*/
.item_list ul li{ background-color: #fff; margin-bottom: 6px; border:0; }

/*机构人才库*/
.shool_name{ background-color: #000; position: relative; }
.shool_name>img{display: block; width: 100%; opacity: .5; height: 2.1rem;}
.shool_name .shool{ bottom: 0; left: 0; width:96%;padding:2%; }
.shool_name .shool .jg_logo{ display: inline-block; vertical-align: middle; width: 1.35rem; height: .9rem; 
	border-radius: 3px; overflow: hidden;
}
.shool_name .shool .jg_logo img{display: block; width: 100%; height: 100%;}
.shool_name .shool dl{ display: inline-block; vertical-align: middle; margin-left: 1%;}
.shool_name .shool dl dt{ font-size: .26rem; color: #fff; line-height: 100%; margin-bottom: .22rem;}
.shool_name .shool dl dd a{display:inline-block; background-color: #f2b300; border-radius: 100px; color: #fff;
	font-size: .22rem; padding:0 .6em; line-height: .36rem;
}
.shool_name .shool .sc{right: 2%;bottom:12%; background-color: #f00; font-size: .22rem;color: #fff;
	 border-radius: 100px; padding:0 .6em; line-height: .36rem;
}
/*机构介绍*/
.zy_school_xq h2{ text-align: center; font-size: .34rem; color: #333; margin:2% 0; line-height: 160%;}
.zy_school_xq .txt *{display: block; width: 100%; margin:3% 0; font-size: .26rem; color: #666; line-height: 200%;}
.zy_school_xq .tel{ color: #666; font-size: .26rem;margin:5% 0; }
.zy_school_xq .tel span{display: block;margin:5% 0;}
.zy_school_xq .tel a{ color: #f2b300; }
.zy_school_xq .tel a img{ width:.3rem; vertical-align: middle; margin-right: 1%; margin-top: -2px; }

/*企业会员中心*/
.vip_head{ background-color: #f2b300; position: relative; min-height: 3rem;padding:2% 0 0;}
.vip_head .exit{ border: #f5f5f5 solid 1px; border-radius: 100px;position: absolute; right: 2%; top:.6rem;
	 color: #fff; line-height: .4rem; width: .84rem; font-size: .22rem;text-align: center;
}
.vip_head .head{position: absolute; margin: auto; left: 0;right: 0;top:0; bottom: 0; 
	height: fit-content; height: -webkit-fit-content; height: -moz-fit-content;
	text-align: center; 
}
.vip_head .head i{display: block; margin:0 auto; width: 1.3rem; height: 1.3rem;border-radius:100%;background: #fff;
	overflow: hidden; border:#fff solid 3px; overflow: hidden;box-sizing: border-box;
}
.vip_head .head img{display: block; margin:0 auto;width: 100%; height: 100%;}
.vip_head .head span{display: block; font-size: .22rem; color: #333; margin:3% 0;}
.vip_head .head h2{ font-size: .28rem; color: #fff; line-height: 100%; }

/*个人中心找工作状态*/
.vip_head .head .state{display: inline-block; border:#3d3c41 solid 1px;border-radius: 100px; 
	overflow: hidden; line-height: .36rem; margin-top: 3%; 
}
.vip_head .head .state em{font-style:normal; font-size: .2rem; color: #3d3c41; float: left; padding:0 .5em;position: relative; z-index: 5;}
.vip_head .head .state em.on{color: #f2b300; }
.vip_head .head .state b{position: absolute;top:0; left:0;height: 100%; width: 50%; background-color: #3d3c41;}

.vip_menu ul{ background-color: #fff; }
.vip_menu ul li{ padding:0 2%; border-bottom: #ddd solid 1px; height: .8rem;}
.vip_menu ul li a{display: block; background: url(../images/common_img/right_jt_50.png) no-repeat center right;
	background-size: .14rem; line-height: .8rem; height: .8rem; padding-right: .24rem;
}
.vip_menu ul li a img{display: inline-block; vertical-align: middle; width: .34rem; height: .34rem;}
.vip_menu ul li a span{ font-size: .26rem; color: #333; display: inline-block; vertical-align: middle; margin-left: 1%; }
.vip_menu ul li a em{ font-size:.2rem; }

/*vip中心子页内容*/
.zy_vip_conbox .footer_box{ padding-bottom: 7%;}
.zy_vip_conbox .zy_content{ min-height: 7.5rem;}

/*用户信息设置*/
.vip_user_info .head{ padding:3%; position: relative;}
.vip_user_info .head a{display: block;}
.vip_user_info .head a i{display: inline-block; vertical-align: middle; width: 1rem;height:1rem;border-radius: 50%; overflow: hidden;}
.vip_user_info .head a i img{display: block; width: 100%; height:100%;}
.vip_user_info .head a dl{ display: inline-block; vertical-align: middle; margin-left: 1%; }
.vip_user_info .head a dl dt{font-size:.28rem; color: #f2b300; line-height: 140%; margin-bottom: .15rem;}
.vip_user_info .head a dl dd{ font-size: .22rem; color: #999;line-height: 130%; }
.vip_user_info ul li{padding:3%;border-bottom: #ddd solid 1px; position: relative; line-height: 180%;}
.vip_user_info ul li:first-child{border-top: #ddd solid 1px; }
.vip_user_info ul li a{ color: #666; font-size:.26rem;  display: block;}
.vip_user_info .head a ,.vip_user_info ul li a{background: url(../images/common_img/right_jt_50.png) no-repeat center right; 
	background-size: .14rem;
}
.vip_user_info .exit{ position: fixed; bottom: 0; width: 100%; background-color: #f2b300;  }
.vip_user_info .exit a{ color: #fff; font-size:.3rem; line-height: .9rem; display: block; text-align: center; }
.vip_user_info_mima{padding: 2% 0;}
.vip_user_info_mima .form_line{margin-top: 5%;}
.vip_user_info_mima .form_line label{display: block; border-bottom: #ddd solid 1px;padding:2% 0;}
.vip_user_info_mima .form_line span{font-size: .24rem; color: #666; display: inline-block; width: 20%;
	white-space: nowrap;overflow: hidden; line-height: 100%; vertical-align: middle;
}
.vip_user_info_mima .form_line input{font-size: .24rem; color: #333; width:72%; line-height: 180%; vertical-align: middle; }
.vip_user_info_mima button{ margin-top: 10%;}
/*企业信息修改*/
.vip_user_info_person .headup{ margin-top: 0; padding:2% 0; border-bottom: #ddd solid 1px;}
.vip_user_info_person .headup i{display: inline-block; vertical-align: middle; width: .8rem; height: .8rem; 
	overflow: hidden; border-radius: 100%; position: relative;
}
.vip_user_info_person .headup i img{ width: 100%; height: 100%; display: block; }
.vip_user_info_person .headup i input{position: absolute; top: 0;left: 0; width: 100%; height: 100%; opacity: 0;}
.vip_user_info_person .tel em{font-style:normal; color: #f2b300; font-size: .24rem;}
.vip_user_info_person .tel input{ width: 28%; }
.vip_user_info_person .pic{padding:2% 0; border-bottom: #ddd solid 1px; margin-top: 2%;}
.vip_user_info_person .pic i{display: inline-block; vertical-align: middle; width: .64rem; height: .64rem; 
	overflow: hidden;
}
.vip_user_info_person .pic i img{ width: 100%; height: 100%; display: block; }
.vip_user_info_person .pic em{ color: #f2b300; font-style: normal; font-size: .24rem; position: relative; margin-left: 2%; }
.vip_user_info_person .pic em input{position: absolute;top:0; left: 0; width: 100%; height: 100%;opacity: 0;}
.vip_user_info_person .big_pic{position: fixed; top:0; left: 0; width: 100%; height: 100%; 
	background-color: rgba(0,0,0,.7); display: none; z-index: 999;
}
.vip_user_info_person .big_pic img{position: absolute; right: 0; left: 0;top:0;bottom: 0;margin:auto; max-width: 100%;}

/*个人信息修改*/
.vip_user_info_person .sexbox input{width: auto; vertical-align: middle;margin-right: .2em;}
.vip_user_info_person .sexbox label{display: inline-block;border:0; margin-right: 3%; font-size:.24rem; color: #333;}

/*我的简历*/
.vip_user_resume{padding-bottom: .9rem;}
.vip_user_resume ul{padding-bottom: .2rem; background-color: #fff;}
.vip_user_resume ul li{ border-bottom: #ddd solid 1px; padding:2%;overflow: hidden; }
.vip_user_resume ul li dl{ float: left; }
.vip_user_resume ul li dl dt{ font-size:.3rem; color: #333; line-height: 160%; margin:.1rem auto .24rem; }
.vip_user_resume ul li dl dd{font-size:.22rem; color: #999;}
.vip_user_resume ul li h2{ float: right; }
.vip_user_resume ul li h2 a{ display: block; font-size:.22rem; color: #fff;background-color: #f2b300; border-radius: 3px; 
	width: 1.2rem; height: .44rem;line-height: .44rem; text-align: center; margin:.15rem 0;
}
.vip_user_resume ul li h2 a:last-child{ color: #999; background-color: #eee; }

.vip_user_resume .jianl{position: fixed; left: 0; bottom: 0; width: 100%;padding:.05rem 0; background-color: #f2b300;}
.vip_user_resume .jianl .zy_butn{ font-size:.3rem; }

/*创建简历*/
.vip_user_createbox{ padding: 0; }
.vip_user_createbox .headpic{ padding: 3% 0; }
.vip_user_createbox .headpic i{display: block; width: 1.6rem; height: 1.6rem; border-radius: 100%; overflow: hidden; margin:0 auto;}
.vip_user_createbox .headpic img{display: block; width: 100%; height: 100%;}
.vip_user_createbox .sexbox input{width: auto; vertical-align: middle;margin-right: .2em;}
.vip_user_createbox .sexbox label{display: inline-block;border:0; margin-right: 3%; font-size:.24rem; color: #333;}
.vip_user_info_mima .xzbox{padding: 2% 0; line-height: 180%;}
.vip_user_info_mima .xzbox select{ width: 78%; line-height: 150%; float: right; font-size: .24rem; color: #333; background: none;
	background: url(../images/common_img/xsj_down_1.png) no-repeat center right; background-size: .12rem;
}
.vip_user_createbox .tel em{font-style:normal; color: #f2b300; font-size: .24rem; display: inline-block;vertical-align: middle;}
.vip_user_createbox .tel input{ width: 28%; }

.vip_user_info_mima .write{padding: 2%;border-top:#fff solid 1px;}
.vip_user_info_mima .form_line textarea{font-size: .24rem;color: #333; width: 75%; height: 1.2rem;
	display: inline-block; vertical-align: top; line-height: .36rem; margin-top: -.05rem;
}
.vip_user_createbox .zy_butn{ margin:7% 0 12%; }
.vip_user_info_mima .work_style{overflow: hidden;}
.vip_user_info_mima .work_style span{ float: left; }
.vip_user_info_mima .work_style select{ width: 36%; float: left; }
.vip_user_info_mima .work_style select:last-child{ margin-left: 8%; }

/*我的合伙信息*/
.vip_user_info_mima #tip label{ overflow: hidden; }
.vip_user_info_mima #tip ul{width: 80%; float: right; margin-top: -.08rem;}
.vip_user_info_mima #tip ul li{ display: inline-block; line-height: .4rem; padding:0 .3em; 
	font-size:.24rem; margin-bottom: 2%; border-radius: 3px; color: #999;background-color: #eee;
}
.vip_user_info_mima #tip ul .cur{ background-color: #f2b300; color: #fff; }

/*我的申请记录*/
.list_box{position:relative; overflow: hidden;}
.list_info{width: 100%;position: relative;}
.list_delete{position: absolute; width: 24%; height: 100%; background: #ccc;
	top: 0;right: -24%; text-align: center; font-size: .26rem; color: #fff;
}	
.list_delete span{position: absolute; top: 0;left: 0;right: 0;bottom: 0;
	margin:auto;width: fit-content;height: fit-content; font-size: .26rem;
}

/*面试邀请*/
.vip_user_msyq .job_money{ line-height: 150%; color: #999;}

/*我的收藏*/
.zy_vip_scbox{ padding-bottom: 5%; }
.zy_vip_scbox .tit{ border-bottom: #ddd solid 1px; padding:1% 2% 0; height: .72rem; line-height: .72rem; }
.zy_vip_scbox .tit span{ text-align: center; color: #666;font-size: .26rem; }
.zy_vip_scbox .tit span.cur{ color: #f2b300; }
.zy_vip_scbox .tit .sc_line{position: absolute; left:0; bottom:-2px; height: 3px; background-color: #f2b300;}
.zy_vip_scbox .tuij_gz ul li{border-bottom: #ddd solid 1px; border-top: 0; margin-bottom: 0;}
.zy_vip_scbox .sc_list .list li{overflow: hidden; position: relative; border-bottom:#ddd solid 1px;}
.zy_vip_scbox .sc_list .list{display: none;}
.zy_vip_scbox .hhr_sc ul li{padding:0 2%;}
.zy_vip_scbox .hhr_sc .my_head{padding:3% 0; border: 0;}
.zy_vip_scbox .hhr_sc .my_head b{ color: #999; font-weight:normal; font-size: .22rem; margin-left: 2%;}

/*企业中心收藏*/
.zy_vip_scbox .sc_list .item_list ul li{margin-bottom: 0;}
.zy_vip_scbox .school_sc .jg_logo{ padding: 3% 2%; }
.zy_vip_scbox .school_sc .jg_logo img{width: 1.5rem; height: 1rem; border:#eee solid 1px; vertical-align: middle;}
.zy_vip_scbox .school_sc .jg_logo dl{ display: inline-block; vertical-align: middle; margin-left: 1%; width: calc(100% - 1.8rem);}
.zy_vip_scbox .school_sc .jg_logo dt a{ font-size: .28rem; color: #333; line-height: 150%; }
.zy_vip_scbox .school_sc .jg_logo dd{display: inline-block; font-size: .22rem; color: #999;
	line-height: 150%; margin-top: 5%;
}
.zy_vip_scbox .school_sc .jg_logo dd a{ color: #f2b300; }

/*收到的简历*/
.zy_vip_jlbox .hhr_sc ul li{ background-color: #fff; margin-bottom: 6px; }

/*我的发布*/
.zy_vip_myfabu .tuij_gz ul li{padding:2% 2% 0;}
.zy_vip_myfabu .tuij_gz ul li .apply{ bottom: 0;right: 0; min-width: auto; line-height: .3rem;}
.zy_vip_myfabu .item_list ul li .item_tit em{color: #fff;background-color: #f2b300;font-size: .24rem; 
	line-height: .4rem; padding: 0 .45em;
}

/*发布项目/招聘*/
.zy_vip_myfabu .item_fabu .zy_butn{ margin:0 0 12%;  }
.zy_vip_myfabu .add_column{ margin-top: 7%; }
.zy_vip_myfabu .add_column #add{ color: #666;background:none; border: #ccc solid 1px; margin-bottom: 3%; }
.add_column .interview_box .resume input{ width: 94%; border: #ddd solid 1px;border-radius: 3px;
    padding: 2% 3%; font-size: .24rem;color: #333; line-height: 180%; background-color: #fafafa;
}
.add_column .interview_box .resume input:focus{border-color: #f2b300;}
.add_column .interview_box .resume .zy_butn{ margin-bottom: 0; }

/*发布审核详情*/
.zy_vip_myfabu .reason{ font-size:.24rem; color: #f00; padding: 5% 2% 0; line-height: 160%; }

/*数据加载中*/
.data_loading{}