@charset "utf-8";
/*重置*/
body,h1,h2,h3,h4,h5,dl,dd,dt,p,ul,li,ol{ margin:0; padding:0;}
input,select,form,textarea,button,video{ border:none; margin:0;outline:none; padding:0; appearance:none;}
h1,h2,h3,h4,h5{ font-weight:normal;}
img{ border:none;}
a{ 
	text-decoration:none; outline:none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
select{
	-webkit-appearance:none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);   /* 点击高亮的颜色*/
}
body,button,input,select,textarea{ font: normal 12px/100% Helvetica, Arial, sans-serif;}
li{ list-style-type:none;}
table{border-collapse:collapse;border-spacing:0;}
body,html{ width:100%; height: 100%;}
html{ background-color: #f5f5f5; }
a{color: #5589ff}
@media screen and (min-width: 320px) {html{font-size:50px;}}
@media screen and (min-width: 360px) {html{font-size:56.25px;}}
@media screen and (min-width: 375px) {html{font-size:58.59375px;}}
@media screen and (min-width: 400px) {html{font-size:62.5px;}}
@media screen and (min-width: 414px) {html{font-size:64.6875px;}}
@media screen and (min-width: 440px) {html{font-size:68.75px;}}
@media screen and (min-width: 480px) {html{font-size:75px;}}
@media screen and (min-width: 520px) {html{font-size:81.25px;}}
@media screen and (min-width: 560px) {html{font-size:87.5px;}}
@media screen and (min-width: 600px) {html{font-size:93.75px;}}
@media screen and (min-width: 640px) {html{font-size:100px;}}
@media screen and (min-width: 680px) {html{font-size:100px;}}
@media screen and (min-width: 720px) {html{font-size:100px;}}
@media screen and (min-width: 760px) {html{font-size:100px;}}
@media screen and (min-width: 800px) {html{font-size:100px;}}
@media screen and (min-width: 960px) {html{font-size:100px;}}
.pager{display: flex; text-align: center; padding:2% 0;border-top: #ddd solid 1px; background-color: #fff;}
.pager li{color: #5589ff; font-size: .26rem; padding:2% 0; flex:1;}
.pager li:nth-child(1) a:after{content: "上一页"}
.pager li:nth-child(2) a:after{content: "下一页"}
/*预加载蒙层*/
#loading-mask {
    background: #fff;
    height: 100%;
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.loading-img {
    left: 0;
    position: fixed;
    top: 40%;
    width: 100%;
    transform: translate(0,-50%);
}
.loading-img img{ width: 40%; }
.loading-img p{ color: #999;font-size: .24rem; }

/*头部搜索栏*/
.module-layer{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
}
.module-layer-content{
	position: relative;
	min-width: 320px;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}
.module-layer-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: -webkit-linear-gradient(rgba(0,0,0,.6),transparent 80%);
    background: -o-linear-gradient(rgba(0,0,0,.6),transparent 80%);
    background: -moz-linear-gradient(rgba(0,0,0,.6),transparent 80%);
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,0) 80%);
}
.layer-head-name{
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
}
.layer-logo,.layer-login{
	width: 18%;
	text-align: center;
	position: absolute;
	top:11%;
	z-index: 1;
}
.layer-logo{left: 2%; top:13%;}
.layer-login{right: 2%; width: 12%; top: 15%; text-align: left; line-height: .6rem;}
.layer-logo img{display: block; width: 100%;}
.layer-login img{ width: .2rem; display: inline-block; vertical-align: middle; margin-right: 10%; margin-top: -3px; }
.layer-login a{ font-size: .24rem; color: #fff; display: inline-block; vertical-align: middle; width: .48rem;
	white-space: nowrap;overflow: hidden;
}

.pr {
	position:relative;
}
#shop-input::-webkit-input-placeholder {
	color:#bbb;
}
#shop-input:-moz-placeholder {
	color:#bbb;
}
#shop-input::-moz-placeholder {
	color:#bbb;
}
#shop-input:-ms-input-placeholder {
	color:#bbb;
}
#shop-input {
	border:none;
	outline:none;
	background:transparent;
	height:0.6rem;
	line-height:0.6rem;
	font-size:.24rem;
	position:absolute;
	top:0;
	left:0.5rem;
}
.search-box {
	height: 0.6rem;
	border-radius:50px;
	top:14%;
	overflow:hidden;
	z-index:10;
	width: 62%;
	margin:0 auto;
	margin-left: 22%;
	border:rgba(255,255,255,.4) solid 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.search-box:after {
	content:'';
	display:block;
	width:100%;
	height:0.6rem;
	background:rgba(255,255,255,.2);
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}
.shop-search {
	width:0.26rem;
	height:0.26rem;
	position:absolute;
	top:26%;
	left:4%;
}

.search-box-cover{
	background:#f2b300;
	width:100%;
	height:0.84rem;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	opacity:0;
	filter:Alpha(opacity=0);
}

/*主内容区*/
.module-content{
	min-width: 320px;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #f5f5f5;
}

/*banner轮播图*/
.banner{width: 100%; min-height: 3.5rem; background-color: #999;}
.banner ul li img{width: 100%;display: block;}
.banner .sp01 span{background-color: #fff;opacity: 1;}
.banner .sp01 .swiper-pagination-bullet-active{background-color: white;background-color: #3d3c41;}

/*icon*/
.nav_iconbox{ overflow: hidden; background-color: #fff; padding:.2rem 0 0; margin-bottom: 6px;}
.nav_iconbox ul li{ width: 33.33333%; float: left; text-align: center; margin-bottom: .12rem; }
.nav_iconbox ul li a img{ display: block; margin:0 auto; width:48px; height: 48px;}
.nav_iconbox ul li a span{ display: block; white-space: nowrap; overflow: hidden; color: #333; line-height: 180%; font-size: .24rem;}

/* <!-- 公告信息 -->*/
.news_sj_dxs_box .scrollnews{overflow: hidden; padding:0 2%; height: .72rem;}
.news_sj_dxs_box .scrollnews span:first-child{float: left; width: .84rem; margin-top: .16rem;}
.news_sj_dxs_box .scrollnews span:first-child img{ width: 100%; display: block; }
.news_sj_dxs_box .scrollnews ul{float: left; width: 73%;height: .72rem;padding-left: 2%; overflow: hidden; }
.news_sj_dxs_box .scrollnews ul li{line-height: .72rem; height: .72rem;}
.news_sj_dxs_box .scrollnews ul li a{display: block; color: #666; font-size: 0.24rem;
	white-space: nowrap; overflow: hidden;text-overflow: ellipsis;
}
.news_sj_dxs_box .scrollnews span{ line-height: .72rem; }
.news_sj_dxs_box .scrollnews span a{ color: #999;font-size: .22rem; }

/*标题*/
.title{overflow: hidden; padding:0 2%;}
.title h2{ float: left; font-size: .34rem; line-height: 100%; padding:4% 0;}
.title h2 img{ height: .36rem; vertical-align: middle;display: inline-block; margin-right:.3em;}
.title h2 span{vertical-align: middle;display: inline-block;}
.title a{ float: right; font-size: .22rem; color: #999;margin-top: 4.5%; line-height: .36rem;}
/*推荐培训*/
.tuij_box .title h2 span{ color: #f00; }
.tuij_box ul li{border-top:#eee solid 1px; padding:3% 2%;}
.tuij_box ul li a{display: block; overflow: hidden; position: relative; height: 1.28rem;}
.tuij_box ul li i{width:1.92rem; height: 1.28rem;}
.tuij_box ul li img{width:100%; height: 100%; }
.tuij_box ul li dl{margin-left: 2%; width:calc(100% - 3rem);}
.tuij_box ul li dl dt{ font-size: .28rem; color: #333;line-height: 160%; white-space: nowrap; text-overflow: ellipsis;overflow: hidden; }
.tuij_box ul li dl dd{ font-size: .24rem; line-height: 190%;}
.tuij_box ul li a span{ top:0; right: 0; font-size: .2rem; line-height: 200%; }

/*推荐工作*/
.tuij_gz .title h2 span{ color: #5589ff; }
.tuij_gz .title .change{ color: #f2b300; }
.tuij_gz .title .change img{display: inline-block; vertical-align: middle; width: .3rem; margin-right: .2em;}
.tuij_gz ul li{border-top:#eee solid 1px; padding:3% 2%;}
.tuij_gz .job_tit h2{ color: #333;font-size: .28rem; line-height: .38rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.tuij_gz .job_tit span{ color: #999; font-size: .2rem; line-height: .38rem; }
.tuij_gz .job_money{ font-size: .24rem; color: #666; margin:3% 0 4%; }
.tuij_gz .job_fuli{ font-size: .2rem; color: #999; height: .36rem; overflow: hidden;line-height: .34rem; padding-bottom: 1px; }
.tuij_gz .job_fuli em{ font-style: normal; color: #f2b300; border:#f2b300 solid 1px; margin-bottom: 3%;
	border-radius: 3px; margin-right: .3em; padding:0 1%; display: inline-block;line-height: .34rem;
}

/*热门职位*/
.hot_tit h2 span{ font-size: .3rem; color: #5589ff;border-left: #5589ff solid 3px; padding-left: .3em;padding-top: 1px;}
.hot_work ul{ overflow: hidden;border-top:#eee solid 1px; margin: 0 2%; padding:2% 0 3%; }
.hot_work ul li{ float: left; font-size: .26rem; margin:2% 3% 2% 0; line-height: 120%;}
.hot_work ul li a{ color: #333; }

/*广告*/
.ad_picbox{ margin:6px 0; }
.ad_picbox ul li img{ width: 100%; display: block; }

/*企业首页样式*/
.tuij_box ul li{border-top:#eee solid 1px; padding:2%;}
.tuij_box ul li a{ height: auto; }
.tuij_box .item_tit{ margin:2% 0; }
.tuij_box .item_tit h2{color: #999;font-size: .28rem; line-height: .38rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.tuij_box .item_tit h2 span{ font-size: .28rem; }
.tuij_box .item_tit span{ color: #999; font-size: .2rem; line-height: .38rem; }
.tuij_box .item_tit em{color: #f2b300; border:#f2b300 solid 1px; padding:0 1%; 
	display: inline-block;line-height: .34rem;border-radius: 3px; font-size:.2rem;
}

/*推荐求职*/
.tuij_gz .item_tit{ margin:1% 0; }
.tuij_gz .item_tit h2{ font-size: .24rem; }
.tuij_gz .rc_tit h2{ font-size: .28rem; color: #333; }
.tuij_gz .item_tit b{ margin-right: 2%; font-weight: normal; }


/*go_top*/
.go_top{position: fixed; right: 3px;  bottom: 20%;width: .64rem; height: .64rem;border-radius:.06rem; 
	background-color: #fafafa; z-index: 999; display: none; border:#ccc solid 1px;
}
.go_top a{ display: block; background: url(../images/back_top.png) center center no-repeat;
	width: .64rem; height: .64rem; background-size: 60%;
}

/*footer_box底部*/
.footer_box{ margin-top: 6px; padding-bottom: 20%; }
.footer_box .footer h2{ border-bottom: #eee solid 1px; text-align: center; padding:4% 0; }
.footer_box .footer h2 a{ font-size: .26rem; color: #999; display: inline-block; padding:0 1%; 
	border-left: #999 solid 1px; line-height: 100%; padding:0 2%;
}
.footer_box .footer h2 a:first-child{border-left: 0;}
.footer_box .footer h3{ text-align: center; margin:5% 0;}
.footer_box .footer h3 span{display: inline-block; vertical-align: middle; margin:2%;}
.footer_box .footer h3 span:after{content: ">"; color: #ffe037; margin-left: .3em; font-size:.24rem;}
.footer_box .footer h3 span a{font-size:.24rem; color: #999;border-bottom: #999 solid 1px;}
.footer_box .footer .txt{ text-align: center; color: #999; font-size: .22rem; line-height: 180%;}

/*底部导航菜单*/
.foot_menu{position: fixed; bottom: 0; left: 0; width: 100%; z-index: 999;}
.foot_menu ul{ overflow: hidden; background-color: #3d3c41; padding:2% 0;
	display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex; /* Safari */ 
    display: -moz-flex;
    display: flex;
    flex-wrap: nowrap;
	-moz-justify-content: space-around;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-box-align: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;
}
.foot_menu ul li{ text-align: center; width: 25%;}
.foot_menu ul li i{display: block; margin-bottom: .1rem;}
.foot_menu ul li img{ display: block; margin:0 auto; width: .34rem;height: .34rem; }
.foot_menu ul li a{ color: #fff; font-size: .20rem;display: inline-block;}
.foot_menu ul li.cur a{ color: #f2b300; }

.foot_menu ul li.info a{position: relative;}
.foot_menu ul li.info em{ position: absolute; right: -15%; top: -2%; background-color: #f00; border-radius: 100%;width: 4px; height: 4px;}

/*search_bomb_box搜索弹框*/
.search_bomb_box{
	background-color: #fff; height: 100%; 
	display: none;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}
.search_top{ background-color: #f2b300; padding:2% 1%; }
.search_top a{display: inline-block;  vertical-align: middle; width: 15%; color: #fff; font-size: .26rem; margin-left: 1%;}
.search_top a img{ width: .2rem; margin:0 auto;display: inline-block; vertical-align: middle;}
.search_top a span{display: inline-block;vertical-align: middle; margin-left: 3px; padding-top: 1%;}
.search_top div{ border-radius: 100px; display: inline-block; vertical-align: middle; 
	width:70%; padding:1%; overflow: hidden; background-color: #fff;
}

.search_top div input{font-size: .24rem; line-height:180%; color: #666; width: 80%; text-indent: .7em; vertical-align: middle; background-color: #fff;}
.search_top div button{ display: inline-block; vertical-align: middle; background-color: #fff; width: 20%;}
.search_top div button img{ display: block; width: 32%; margin:0 20% 0 auto; }

.sy_search_top div select {
    color: #3d3c41;
    font-size: .24rem;
    vertical-align: middle;
    margin-left: 2%;
    background: url(../images/common_img/xsj_down_1.png) right center no-repeat #fff;
    background-size: 20%;
    margin-right: 2%;
    width: 16%;
    line-height: 180%;
}
.sy_search_top div input{ width: 68%; text-indent: 0; }
.sy_search_top div button{ width:10%; }
.sy_search_top div button img{width: 62%; margin:0 auto 0 15%; }

.search_txt{ padding:0 2%; }
.search_txt h2{ font-size: .28rem; color: #f2b300; margin:5% 1% 1%; }
.search_txt ul{ overflow: hidden; }
.search_txt ul li{ float: left;  background-color: #f5f5f5; border:#ddd solid 1px; padding:0 2%; margin: 3% 1% 0 1%;}
.search_txt ul li a{display: block; color: #666; font-size: .24rem; line-height: 200%;}