
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理系统</title>
    {load href="__PLUG__/semantic/semantic.min.css"/}
    {load href="__BKD__/css/style.css"/}
    {load href="__PLUG__/jquery.min.js"/}
    {load href="__PLUG__/semantic/semantic.min.js"/}
    {load href="__PLUG__/layer/layer.js"/}
    {load href="__PLUG__/jquery.datetimepicker/jquery.datetimepicker.css"/}
    {load href="__PLUG__/jquery.datetimepicker/jquery.datetimepicker.js"/}
    {load href="__BKD__/js/main.js"/}
    {load href="__BKD__/js/Utils.js"/}
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?cbd2f1846c441b50ca0bb8910939cb71";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

