{include file="public/header"/}
<div id="header-blank" class="show992">
</div>
<div id="body" class="trans">
    <div id="banner" class="relative hide992">
        <div class="bd over">
            <div class="bar relative fz0 nowrap">
                {volist name=":get_ad_list('student_banner')" id="v"}
                <div class="item relative inline-block text-center fz0 over item-0">
                    <img src="{$v.image}" alt="" class="max-w100">
                </div>
                {/volist}
            </div>
        </div>
    </div>
    <div id="small-banner" class="relative show992">
        <div class="bd over">
            <div class="bar relative fz0 nowrap">
            </div>
        </div>
    </div>
    <div class="bgf3">
        <div id="instance" class="wrap clean">
            <div class="instance-list clean">
                {assign name="student_list" value=":get_student_list(10)"}
                {volist name="student_list" id="v"}
                <div class='item border-box over wow fadeInUp {$key%2==0? "fl" : "fr"}'>
                    <div class="relative clean">
                        <div class="cover fl relative">
                            <img src="__HOME__/picture/notebook.png" class="trans max-w100" ondragstart="return false;">
                            <div class="img absolute text-center fz0">
                                <a href="/studentinfo/{$v.id}.html"><img src="{$v.photo}" class="trans" ondragstart="return false;"></a>
                            </div>
                        </div>
                        <div class="info fl">
                            <div class="clean">
                                <div class="logo fl text-center over fz0">
                                    <img src="{$v.avatar}" class="middle max-w100 inline-block">
                                    <span class="middle-span">
                                            </span>
                                </div>
                                <div class="title fl">
                                    <div class="name">
                                        {$v.name}
                                    </div>
                                    <div class="date">
                                        {$v.study_time}
                                    </div>
                                </div>
                            </div>
                            <div class="brief over">
                                {$v.intro|raw|htmlspecialchars_decode}
                            </div>
                            <a href="/studentinfo/{$v.id}.html" class="view block text-center" rel="nofollow">
                                详情
                            </a>
                        </div>
                    </div>
                </div>
                {/volist}
            </div>
            <div id="turn_page" class="wow fadeInUp" first last>
            {$student_list|raw}
            </div>
            <div class="blank20">
            </div>
            <div class="blank20">
            </div>
            <div class="blank20">
            </div>
        </div>
    </div>

    {include file="public/bottom"/}
</div>
{include file="public/footer"/}