{include file="public/header"/}
<div id="header-blank" class="show992">
</div>
<div id="body" class="trans">
    <div id="banner" class="relative hide992">
        <div class="bd over">
            <div class="bar relative fz0 nowrap">
                {volist name=":get_ad_list('teacher_banner')" id="v"}
                <div class="item relative inline-block text-center fz0 over item-0">
                    <img src="{$v.image}" alt="" class="max-w100">
                </div>
                {/volist}
            </div>
        </div>
    </div>
    <div id="small-banner" class="relative show992">
        <div class="bd over">
            <div class="bar relative fz0 nowrap">
            </div>
        </div>
    </div>
    <div class="blank25">
    </div>
    <div class="blank25">
    </div>
    <div id="info-detail" class="wrap1200 wow fadeInUp">
        <div class="top text-center">
            <div>
                <img src="{$data.avatar}" style="box-shadow:0 0 10px #0CC;border-radius: 50%; width: 150px; margin: 20px auto;"/>
            </div>
            <div class="info-title">
                {$data.name}
            </div>
            <div class="blank9">
            </div>
            <span>
            </span>
        </div>
        <div class="blank25">
        </div>
        <div class="editor wow fadeInUp">
            {$data.description|raw|htmlspecialchars_decode}
        </div>
    </div>
    <div class="blank25">
    </div>
    <div class="blank25">
    </div>
    {include file="public/bottom"/}
</div>
<script>
    $(function () {
        WxShareHandler('{$data.name}', '', '{$data.avatar}' );
    });
</script>
{include file="public/footer"/}