<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzb.erp.security.mapper.SecurityUserMapper">

    <select id="loadUserByUsername" resultType="com.hzb.erp.security.Util.JwtUserDetails">
        select id, mobile as username, password, state, name
        from user
        where mobile = #{username}
    </select>

    <resultMap id="loadUserByUsernameResultMap" type="com.hzb.erp.security.Util.JwtUserDetails">
        <result column="id" property="id"/>
        <collection property="roles" select="com.hzb.erp.common.mapper.rbac.SysRoleMapper.selectRoleByUser" column="id"
                    ofType="com.hzb.erp.common.entity.rbac.SysRole"/>
    </resultMap>

    <select id="loadStaffByUsername" resultMap="loadUserByUsernameResultMap">
        select id, mobile as username, password, state, name
        from staff
        where mobile = #{username}
    </select>

</mapper>