{extend name="layout/base" /}
{block name="content"}

<div class="ui grid">
    <div class="three wide column">

        <div class="ui mini secondary vertical pointing menu" style="width: auto;">
            {volist name="config_group" id="v"}
            <a class="{eq name='cur_group' value='$key'}active{/eq} item" href="?group={$key}" target="_self">{$v}</a>
            {/volist}
        </div>

    </div>
    <div class="thirteen wide column">
        <div class="page-title">
            <h3 class="ui header">{$config_group[$cur_group]}</h3>
            <div class="page-title-right">
            </div>
        </div>
        {:widget('component/form')}
    </div>
</div>


{/block}
{block name="script"}

{/block}
